/* 레이아웃 */

// Navigation Bar
.content-nav {
	position: relative;
	height: 50px;

	.tit-page {
		text-align: center;
		line-height: 50px;
	}

	.btn-draft {
		position: absolute;
	}
}

// Toolbar



// Quickmenu